@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --Primary-Colors-Primary: #3220ff;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .nav-bar-primary-gradiant {
    background: radial-gradient(
        194.01% 61.06% at 8.94% 50%,
        rgba(50, 32, 255, 0.4) 0%,
        rgba(34, 40, 53, 0.4) 100%
      ),
      linear-gradient(
        90deg,
        rgba(151, 173, 223, 0.2) 0%,
        rgba(43, 53, 74, 0.2) 100%
      ),
      linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(95, 149, 255, 0.2) 100%),
      linear-gradient(0deg, rgba(61, 61, 61, 0) 0%, rgba(61, 61, 61, 0) 100%),
      rgba(0, 0, 0, 0.69);
  }
  .nav-bar-primary-gradiant-1 {
    background: radial-gradient(circle at 0%, rgba(50, 32, 255, 0.4) 0%, rgba(34, 40, 53, 0.4) 55% 100%);
  }

  .nav-bar-primary-gradiant-2 {
    background: radial-gradient(circle at 50%, rgba(50, 32, 255, 0.4) 0%, rgba(34, 40, 53, 0.4) 100%);
  }
  .nav-bar-primary-gradiant-3 {
    background: radial-gradient(circle at 100%, rgba(50, 32, 255, 0.4) 0%, rgba(34, 40, 53, 0.4) 100%);
  }

}
.nav-bar-primary-gradiant-1 {
  background: radial-gradient(circle at 0%, rgba(50, 32, 255, 0.4) 0%, rgba(34, 40, 53, 0.4) 55% 100%);
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0b0b0b;
}

.text-primary-gradiant {
  background: linear-gradient(80deg, #6059e2 21.29%, #a3b1ff 74.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-gradiant {
  background: linear-gradient(
      90deg,
      rgba(151, 173, 223, 0.2) 0%,
      rgba(43, 53, 74, 0.2) 100%
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(95, 149, 255, 0.2) 100%),
    linear-gradient(0deg, rgba(61, 61, 61, 0) 0%, rgba(61, 61, 61, 0) 100%),
    rgba(0, 0, 0, 0.69);
}

.fixed {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
