@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --Primary-Colors-Primary: #3220ff;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0B0B0B;
}

.text {
  color: var(--Primery-Colors-White-Text, #fff);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: 'League Spartan';
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}


.nav-dot {
  width: 250px;
  height: 250px;
  pointer-events: none;
  border-radius: 318px;
  filter: blur(150px) !important; 
}

.left-nav-dot {
  transform: translate(-50%, -50%) translateX(-200px) translateY(-150px);
}

.middle-nav-dot {
  width: 250px;
  height: 250px;
  filter: blur(70px);
  transform: translate(-50%, -50%) translateX(0px) translateY(160px);
}

.right-nav-dot {
  transform: translate(-50%, -50%) translateX(200px);
}

.dot {
  background: var(--Primery-Colors-Primery, #3220ff);
  filter: blur(250px);
  position: absolute;
  top: 50%;
  left: 50%;
}

.middle-dot {
  width: 418px;
  height: 418px;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.left-dot {
  height: 485px;
  width: 318px;
  border-radius: 485px;
  transform: translate(-50%, -50%) translateX(-375px);
}

.right-dot {
  height: 485px;
  width: 318px;
  border-radius: 485px;
  transform: translate(-50%, -50%) translateX(375px);
}

.name-font {
  background: linear-gradient(80deg, #6059e2 21.29%, #a3b1ff 74.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
  width: 425px;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  background: linear-gradient(
      90deg,
      rgba(151, 173, 223, 0.2) 0%,
      rgba(43, 53, 74, 0.2) 100%
    ),
    linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(95, 149, 255, 0.2) 100%),
    linear-gradient(0deg, rgba(61, 61, 61, 0) 0%, rgba(61, 61, 61, 0) 100%),
    rgba(0, 0, 0, 0.69);
  box-shadow: 0px 2px 0px 0px #3b158b;
  backdrop-filter: blur(10px);
  position: relative;
}

.icon-container {
  display: flex;
  width: 120px;
  padding: 0px 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  gap: 5px;
}
